ansible
ansible-core==2.18.6
ansible-lint
ansible-dev-tools
ansible-builder
ansible-creator
ansible-navigator
pywinrm
pyVmomi
requests
docker
podman
testinfra
flake8
molecule
molecule-docker
molecule-podman
pytest-molecule
dnspython
netmiko
yamllint
pykerberos
dnspython
awxkit==21.6.0
vmware-vcenter
vmware-vapi-common-client
aiohttp
netaddr
jmespath
