- name: Installation and configuration of laptop
  hosts: localhost
  vars:
    ansible_user: aseys
    ssh_user: alain.seys
    ssh_key_path: /home/{{ ansible_user }}/lainseys_HP_HCD4097VMK_private_openssh
    teamviewer_download_location: https://download.teamviewer.com/download/linux/teamviewer.x86_64.rpm?_gl=1*1tkvn83*_gcl_au*MTY3NTI5NDE1LjE3NzA3OTgzOTM.
    teamviewer_download_dest: "/tmp/teamviewer.x86_64.rpm"
    vnc_download_location: https://downloads.realvnc.com/download/file/viewer.files/VNC-Viewer-7.15.1-Linux-x64.rpm
    vcn_download_test: "/tmp/VNC-Viewer-7.15.1-Linux-x64.rpm"
    remoted_download_location: "https://cdn.devolutions.net/download/Linux/RDM/2025.3.2.2/RemoteDesktopManager_2025.3.2.2_x86_64.rpm"
    remoted_download_test: "/tmp/RemoteDesktopManager_2025.3.2.2_x86_64.rpm"
    vscodium_download_location: "https://github.com/VSCodium/vscodium/releases/download/1.109.21026/codium-1.109.21026-el8.x86_64.rpm"
    vcdodium_download_dest: "/tmp/codium-1.109.21026-el8.x86_64.rpm"
    user_id: 1000
    docker_host: "unix:///run/user/1000/podman/podman.sock"
  gather_facts: true
  tasks:

    - name: Install zsh and other utils
      ansible.builtin.dnf:
        name:
          - git
          - util-linux-user
          - zsh
        state: present
      become: true

    - name: Deploy SSH config
      ansible.builtin.template:
        src: ssh_config.j2
        dest: "/home/{{ ansible_user }}/.ssh"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0600'
      become: true


    - name: Ensure .ssh directory exists
      ansible.builtin.file:
        path: "{{ ansible_env.HOME}}/.ssh"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0700'
      become: true

    - name: Check if dotfile repo exists
      ansible.builtin.stat:
        path: "{{ ansible_env.HOME }}/.dotfile"
      register: dotfile_repo

    - name: Clone dotfile repo
      ansible.builtin.git:
        repo: git@github.com:alainseys/dotfile.git
        dest: "{{ ansible_env.HOME }}/.dotfile"
        version: main
        update: false
      become: false
      when: not dotfile_repo.stat.exists

    - name: Install required dependencies
      ansible.builtin.dnf:
        name:
          - dnf-plugins-core
        state: present
      become: true

    - name: Ensure ~/.Applications exists
      ansible.builtin.file:
        path: "{{ ansible_env.HOME }}/.Applications"
        state: directory
        mode: '0755'
      become: false

    - name: Download obsidian flatpak and place in ~/.Applications
      ansible.builtin.get_url:
        url: https://github.com/obsidianmd/obsidian-releases/releases/download/v1.11.7/Obsidian-1.11.7.AppImage
        dest: ~/.Applications/Obsidian-1.11.7.AppImage
      become: false

    - name: Make obsidian flatpak executable
      ansible.builtin.file:
        path: ~/.Applications/Obsidian-1.11.7.AppImage
        mode: '0755'


    - name: Install oh My zsh
      ansible.builtin.shell: |
        sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
      args:
        creates: /home/{{ ansible_user}}/.oh-my-zsh

    - name: Copy zshrc to home
      ansible.builtin.copy:
        src: "{{ ansible_env.HOME}}/.dotfile/configs/.zshrc"
        dest: "{{ ansible_env.HOME}}/.zshrc"
        backup: true
      become: false

    - name: Clone Powerlevel10k repository
      ansible.builtin.git:
        repo: https://github.com/romkatv/powerlevel10k.git
        dest: "{{ ansible_env.HOME }}/.powerlevel10k"
        version: master
        update: yes
        force: yes
        accept_hostkey: yes
      become_user: "{{ ansible_user }}"
      become: true

      
    - name: Ensure EPEL repository is enabled
      ansible.builtin.package:
        name: epel-release
        state: present
      become: true

    - name: Install Podmman
      ansible.builtin.package:
        name: podman
        state: present
      become: true

    - name: Enable and start Podman socket service
      ansible.builtin.systemd:
        name: podman.socket
        enabled: yes
        state: started
      become: true

    - name: Verify podman Installation
      ansible.builtin.command: podman --version
      register: podman_version
      changed_when: false

    - name: Install podman-compose
      ansible.builtin.dnf:
        name: podman-compose
        state: present
      become: true

    - name: Install podman-docker(provides docker CLI compatibility)
      ansible.builtin.dnf:
        name: podman-docker
        state: present
      become: true

    - name: Stop and disable rootfull docker.socket
      ansible.builtin.systemd:
        name: podman.socket
        enabled: false
        state: stopped
      become: true

    - name: Ensure rootless podman socket is enabled and started
      ansible.builtin.systemd:
        name: podman.socket
        scope: user
        enabled: true
        state: started
      become: true

    - name: Wait a few seconds for the socket to be fully up and running
      ansible.builtin.pause:
        seconds: 5

    - name: Check rootless podman.socket status
      become: false
      ansible.builtin.command: systemctl --user status podman.socket
      register: podman_status
      ignore_errors: yes

    - name: Set DOCKER_HOST environment variable for Zsh
      ansible.builtin.lineinfile:
        path: "/home/{{ ansible_user }}/.zshrc"
        line: "export DOCKER_HOST={{ docker_host }}"
        create: yes
        state: present
        insertafter: EOF
      become: false

    - name: Show podman.socket status
      debug:
        var: podman_status.stdout_lines

    - name: Debug
      ansible.builtin.debug:
        msg: "Podman version installed: {{ podman_version.stdout }}"

    - name: Gather installed packages facts
      ansible.builtin.package_facts:
        manager: auto

    - name: Download vscodium
      ansible.builtin.get_url:
        url: "{{ vscodium_download_location }}"
        dest: "{{ vcdodium_download_dest }}"
        mode: '0644'
      when: "'vscodium' not in ansible_facts.packages"

    - name: Install vscodium
      ansible.builtin.dnf:
        name: "{{ vscodium_download_location }}"
        state: present
        disable_gpg_check: true
      become: true
      when: "'vscodium' not in ansible_facts.packages"

    - name: Download teamviewer RPM
      ansible.builtin.get_url:
        url: "{{ teamviewer_download_location }}"
        dest: "{{ teamviewer_download_dest }}"
        mode: '0644'
      when: "'teamviewer' not in ansible_facts.packages"

    - name: Install teamviewer package
      ansible.builtin.dnf:
        name: "{{ teamviewer_download_dest }}"
        state: present
        disable_gpg_check: true
      become: true
      when: "'teamviewer' not in ansible_facts.packages"

    - name: Download VNC viewer RPM
      ansible.builtin.get_url:
        url: "{{ vnc_download_location }}"
        dest: "{{ vcn_download_test }}"
        mode: '0644'
      when: "'vnc-viewer' not in ansible_facts.packages"

    - name: Install VNC viewer
      ansible.builtin.dnf:
        name: "{{ vnc_download_location }}"
        state: present
        disable_gpg_check: true
      become: true
      when: "'vnc-viewer' not in ansible_facts.packages"

    - name: Download Remote Desktop Manager
      ansible.builtin.get_url:
        url: "{{ remoted_download_location }}"
        dest: "{{ remoted_download_test }}"
        mode: '0644'
      when: "'remotedesktopmanager' not in ansible_facts.packages"

    - name: Install Remote Dekstop Manager
      ansible.builtin.dnf:
        name: "{{ remoted_download_location }}"
        state: present
        disable_gpg_check: true
      become: true
      when: "'remotedesktopmanager' not in ansible_facts.packages"

